<!DOCTYPE html PUBLIC"-//IETF//DTD HTML 2.0//EN">
<html>
<head>

    <title>Mundus Meus!</title>

    <link rel="stylesheet" type="text/css" href="css/default.css" />
    <!--<link rel="stylesheet" type="text/css" href="css/mundus-meus.css" />-->
    <link rel="stylesheet/less" type="text/css" href="less/mundus-meus.less" />
    <link rel="stylesheet" type="text/css" href="css/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="css/leaflet.ie.css" />
    <!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />-->

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="../lib/jquery-1.10.1.js"></script>
    <script type="text/javascript" src="../lib/leaflet-0.6.3.js"></script>
    <script type="text/javascript" src="../lib/angular-1.0.7.js"></script>
    <script type="text/javascript" src="../lib/less-1.4.1.min.js"></script>

    <!--<script type="text/javascript" src="../packages/mundus-meus/Application.js"></script>-->
    <!--<script type="text/javascript" src="../packages/mundus-meus/Controllers.js"></script>-->
    <!--<script type="text/javascript" src="../packages/mundus-meus/Directives.js"></script>-->
    <script type="text/javascript" src="../dist/mundus-meus.0.1.0.min.js"></script>
    <!--<script type="text/javascript" src="../packages/mundus-meus/Modules.js"></script>-->

</head>
<body>

    <div ng-app="mundusMeusApp" class="mundus-meus">

        <div class="geolocation" ng-class="{active:active}" ng-controller="GeolocationCtrl">

            <h1>My Location</h1>

            <div class="form">
                <input type="text" class="search" ng-model="location" placeholder="Search for a particular place..." />
                <input find-location ng-click="getGeolocation();" type="button" class="btn" value="Detect" ng-disabled="!detectionAllowed" />
                <input find-location ng-click="getGeolocation(location);" type="button" class="btn" value="Find..." ng-disabled="!location" />
            </div>

            <ul class="geolocation-results">

                <li class="loading-data" ng-show="!results.length">Loading Results&hellip;</li>

                <li open-location-results ng-repeat="result in results" ng-click="setGeolocation(result);">
                    {{result.city}}, {{result.country}}
                </li>

            </ul>

        </div>

        <ul class="search" ng-class="{active:active}" ng-controller="SearchCtrl">

            <li class="title"><h2>Showing {{results.length}} Tesco Stores</h2></li>
            <li class="loading-data" ng-show="!results.length">Loading Results&hellip;</li>

            <li ng-class="{ active : isActive(result) }" ng-repeat="result in results | orderBy: 'distance'" ng-click="findMarker(result);">

                <div class="name">{{result.name}}</div>
                <div class="distance">{{result.distance | number: 2 }} mi</div>

            </li>

        </ul>

        <map ng-controller="MapCtrl"></map>

    </div>

</body>
</html>