<!DOCTYPE html PUBLIC"-//IETF//DTD HTML 2.0//EN">
<html>
<head>

    <title>Mundus Meus!</title>

    <script type="text/javascript" src="../lib/jquery-1.10.1.js"></script>
    <script type="text/javascript" src="../lib/leaflet-0.6.3.js"></script>
    <script type="text/javascript" src="../lib/angular-1.0.7.js"></script>
    <script type="text/javascript" src="../node_modules/mustache/mustache.js"></script>
    <script type="text/javascript" src="../packages/mundus-meus/mundus-meus.js"></script>
    <script type="text/javascript" src="js/view.js"></script>

    <link rel="stylesheet" type="text/css" href="css/default.css" />
    <link rel="stylesheet" type="text/css" href="css/mundus-meus.css" />
    <link rel="stylesheet" type="text/css" href="css/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="css/leaflet.ie.css" />
    <!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />-->

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />

</head>
<body>

    <div ng-app="mundusMeusApp" class="mundus-meus">

        <div class="geolocation" ng-class="{active:active}" ng-controller="GeolocationCtrl">

            <h1>My Location</h1>

            <div class="form">
                <input geolocate-text type="text" class="search" placeholder="Search for a particular place..." />
                <input geolocate-button ng-click="getGeolocation(model.name);" type="button" class="btn" value="Find..." />
            </div>

            <ul class="geolocation-results" ng-hide="{{results.length}}">
                <li ng-repeat="result in results" ng-click="setGeolocation(result);">{{result.city}}, {{result.country}}</li>
            </ul>

            <div class="message" ng-show="{{results.length}}">Loading...</div>

        </div>

        <ul class="search" ng-controller="SearchCtrl">
            <li ng-repeat="result in results">
                <div class="name">{{result.name}}</div>
                <div class="distance">{{result.distance | number:2 }} mi</div>
            </li>
        </ul>

        <map ng-controller="MapCtrl"></map>

    </div>

</body>
</html>