* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans" Tahoma, Helvetica, sans-serif !important;
}

body {
    background-color: darkgray;
    padding: 20px;
}

h1 {
    font-weight: 100;
    font-size: 26px;
}

h2 {
    font-weight: 100;
    color: darkgray;
    font-size: 20px;
}