# Enable Rewriting

RewriteEngine on

# Rewrite entities URL

#   Input:      Search/:latitude/:longitude
#   Example:    api/Geolocate/Nottingham
#   Output:     Default.php?type=entities&latitude=x&longitude=y

RewriteRule ^Search/(.+?)/(.+?)/?$ Default.php?type=entities&latitude=$1&longitude=$2

# Rewrite locator URL

#   Input:      Geolocate/:query
#   Example:    api/Search/52.95385025/-1.1698803748747
#   Output:     Default.php?type=locator&query=x

RewriteRule ^Geolocate/(.+?)/?$ Default.php?type=location&query=$1