# Enable Rewriting
RewriteEngine on
Options +FollowSymLinks

# Send all of the parameters to the PHP router.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ Default.php?/$1 [L]